.signup-container {
  align-items: center;
  background-image: url(../../assets/banner.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 10rem;
}

.signup-container h1 {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.signup-form {
  width: 50%;
}