.recipe-card {
  border: 1px solid #d8d8d8;
  width: 65vw;
  margin: 0.7rem auto;
  padding: 15px 15px 0 15px;
  background-color: white
}

.recipe-header {
  display: flex;
  justify-content: space-between;
}

.recipe-header-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;  
}

.recipe-title {
  text-align: center;
}

.recipe-image {
  height: 256px;
  width: 50%;
}

.preptime {
  width: 33%;
  text-align: center;
}

.recipe-description {
  margin: 2rem 0 0 0;
  width: 75%;
}

.recipe-ingredients {
  margin: 2rem 0 0 0;
  width: 75%;
}

.recipe-instructions {
  margin: 2rem 0 0 0;
  white-space: pre-line;
}

@media (max-width: 965px) {
  .recipe-card {
    width: 80vw;
  }
}