.App {
  background-color: #f6f9fc;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f6f9fc;
}

/* My styles */

.background {
  background-color: #f6f9fc;
  padding: 30px 0;
  max-height: 100%;
}

/* Jumbotron styles */

.jumbo-background {
  background-image: url(./assets/dark-wood-and-vegetables.jpg);
  background-size: cover;
  height: 90vh;
}

.jumbo-text {
  text-align: right;
  margin-right: 10%;
  color: white;
  padding-top: 20%;
}

.about {
  position: absolute;
  bottom: 25px;
  left: 25px;
}

/* Recipe list styles */

.recipe-list {
  display: flex;
  min-height: 95vh;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 80vw;
  justify-content: center;
}

.center {
  margin: 0 auto;
}

.browse-meals {
  text-align: center;
  font-weight: 700;
  margin-top: 10px;
  font-size: 18px;
}

.meal-buttons {
  display: flex;
  justify-content: center;
}

.meal-button {
  margin: 0 10px 10px 10px;
  width: 100px
}

.meal-button:active:focus {
  background-color: aqua;
}

/* Recipe Card styles */

.card-image {
  height: 216px;
  width: 216px;
}

.card-view {
  border: 1px solid #d8d8d8;
  max-width: 250px;
  margin: 0.7rem;
  padding: 15px 15px 0px 15px;
  height: 335px;
  background-color: white;
}

.card-details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.margin-bottom {
  float: right;
  max-height: 40px;
  margin-left: 5px;
}

/* Single recipe styles */

.recipe-card {
  border: 1px solid #d8d8d8;
  width: 65vw;
  margin: 0.7rem auto;
  padding: 15px 15px 0 15px;
  background-color: white;
}

@media (max-width: 965px) {
  
  .recipe-card {
    width: 80vw;
  }

}

.recipe-image {
  height: 256px;
  width: 256px;
  margin: 0 10px 10px 0;
}

@media (max-width: 720px) {
  
  .recipe-image {
    display: none;
  }

}

.flex-wrapper {
  display: flex;
  align-items: center;
}

.delete-flex {
  display: flex;
  justify-content: space-between;
}

i {
  cursor: pointer;
  margin-left: 10px;
}

/* Recipe form styles */

.form-container {
  width: 60vw;
  border: 1px solid #d8d8d8;
  padding: 15px;
  background-color: white;
  margin: 0 auto;
}

/* Search styles */

.searchbar {
  margin: 10px auto;
  width: 200px;
}

.search-suggestions {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #606060;
}

/* Modal styles */

.margin-right {
  margin-right: 10px;
}

.modal-buttons {
  display: flex;
  justify-content: center
}

/* About styles */

.about-text {
  background-color: #f6f9fc;
  margin: 0 auto;
  width: 580px;
  padding: 5px 10px;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .about-text {
    width: 80vw;
  }
}

.center-textbox {
  height: 90vh;
  overflow-y: scroll;
}

.about-image {
  max-width: 38vw;
  margin-bottom: 10px;
}